# Git
.git/
.github/
.gitignore

# Docker
docker/
.dockerignore
Dockerfile
docker-compose.yaml
docker-compose.prod.yaml

# Env & venv
.venv/
env/.env.example

# Cache
*.pytest_cache
**/__pycache__/

# IDE
.idea/
.DS_Store

#Linters & Formatters
style/
.pre-commit-config.yaml

# Project
readme/
README.md
